* {
    box-sizing: border-box;
}

header, main, aside {
    float: left;
    height: 100vh;
}


header {
    border: solid black 3px;
    width: 20%;
}

main {
    border: solid blue 3px;
    width: 50%;
}

aside {
    border: solid black 3px;
    width: 30%;
}

