* {
    box-sizing: border-box;
}

header, main, aside {
    float: left;
    height: 100vh;
}


header {
    border: solid black 3px;
    width: 10%;
}

main {
    border: solid blue 3px;
    width: 50%;
}

aside {
    border: solid black 3px;
    width: 40%;
}

/* header */
ul {
    list-style: none;
}
li {
    
    margin: 2px;
}